<h1>Create Product</h1>
<a href="/catalog">Back to Catalog</a>
<form action="/catalog/create" method="POST">
    <label for=""><span>Name: </span><input type="text" name="name"></label>
    <label for=""><span>Price: </span><input type="number" name="price"></label>
    <label for=""><span>Promoted: </span><input type="checkbox" name="promoted"></label>
    <input type="submit" value="Create">
</form>